In [23]:
import csv
f = open("guns.csv", "r")
data = list(csv.reader(f))
print(data[0:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [24]:
headers = data[:1]
data = data[1:]

print(data[:5])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

In [25]:
year_counts = {}
years = [row[1] for row in data]
for year in years:
    if year not in year_counts:
        year_counts[year] = 1
    else:
        year_counts[year] +=1

year_counts

{'2012': 33563, '2013': 33636, '2014': 33599}

In [26]:
import datetime

dates = [datetime.datetime(year = int(row[1]), month = int(row[2]), day = 1) for row in data]
dates[:5]

date_counts = {}
for date in dates:
    if date not in date_counts:
        date_counts[date] = 1
    else:
        date_counts[date] += 1
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [27]:
sex_counts = {}
sexes = [row[5] for row in data]
for sex in sexes:
    if sex not in sex_counts:
        sex_counts[sex] = 1
    else:
        sex_counts[sex] += 1
race_counts = {}
races = [row[7] for row in data]
for race in races:
    if race not in race_counts:
        race_counts[race] = 1
    else:
        race_counts[race] +=1
        
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

In [28]:
sex_counts

{'F': 14449, 'M': 86349}

In [29]:
#so far I have learned how to extract the number of deaths and correlate to the year and also the month by utilizing the datetime.datetime function. Analysis of the number of deaths relating to race and sex can also be done.

In [30]:
import csv
f = open("census.csv", "r")
census = list(csv.reader(f))
census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

In [31]:
mapping = {"Asian/Pacific Islander": 15159516 + 674625, "Black": 40250635, "Native American/Native Alaskan": 3739506, "Hispanic": 44618105, "White": 197318956}
race_per_hundredk = {}
for k,v in race_counts.items():
    race_per_hundredk[k] = (v/mapping[k])*100000
race_per_hundredk

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

In [32]:
intents = [row[3] for row in data]
races = [row[7] for row in data]
homicide_race_counts = {}
for i,race in enumerate(races):
    if race not in homicide_race_counts:
        homicide_race_counts[race] = 0
    if intents[i] == "Homicide":
        homicide_race_counts[race] += 1
race_per_hundredk = {}
for k,v in homicide_race_counts.items():
    race_per_hundredk[k] = (v/mapping[k]) * 100000
race_per_hundredk

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}

In [33]:
month_counts = {}
months = [row[2] for row in data]
for month in months:
    if month not in month_counts:
        month_counts[month] = 1
    else:
        month_counts[month] += 1
month_counts

{'01': 8273,
 '02': 7093,
 '03': 8289,
 '04': 8455,
 '05': 8669,
 '06': 8677,
 '07': 8989,
 '08': 8783,
 '09': 8508,
 '10': 8406,
 '11': 8243,
 '12': 8413}

In [34]:
sex_counts = {}
genders = [row[5] for row in data]
for sex in genders:
    if sex not in sex_counts:
        sex_counts[sex] = 1
    else:
        sex_counts[sex] += 1
sex_counts

{'F': 14449, 'M': 86349}

In [35]:
intents = [row[3] for row in data]
race =  [row[7] for row in data]
Accidental_race_counts = {}
for i,race in enumerate(race):
    if race not in Accidental_race_counts:
        Accidental_race_counts[race] = 0
    if intents[i] == "Accidental":
        Accidental_race_counts[race] += 1
race_per_hundredk = {}
for k,v in Accidental_race_counts.items():
    race_per_hundredk[k] = (v/mapping[k]) * 10000000
race_per_hundredk

{'Asian/Pacific Islander': 7.578560782046845,
 'Black': 81.4893976206835,
 'Hispanic': 32.49801846133985,
 'Native American/Native Alaskan': 58.83130017708221,
 'White': 57.36904466492312}

In [36]:
intents = [row[3] for row in data]
race =  [row[7] for row in data]
suicide_race_counts = {}
for i,race in enumerate(race):
    if race not in suicide_race_counts:
        suicide_race_counts[race] = 0
    if intents[i] == "Suicide":
        suicide_race_counts[race] += 1
race_per_hundredk = {}
for k,v in suicide_race_counts.items():
    race_per_hundredk[k] = (v/mapping[k]) * 1000000
race_per_hundredk

{'Asian/Pacific Islander': 47.05023152187416,
 'Black': 82.78130270491384,
 'Hispanic': 71.0698045109715,
 'Native American/Native Alaskan': 148.41532544673012,
 'White': 280.6217969245692}

In [50]:
intents = [row[3] for row in data]
gender = [row[5] for row in data]
suicide_gender_counts = {}
for i,gender in enumerate(gender):
    if gender not in suicide_gender_counts:
        suicide_gender_counts[gender] = 0
    if intents[i] == "Suicide":
        suicide_gender_counts[gender] += 1

suicide_gender_counts

{'F': 8689, 'M': 54486}

In [52]:
intents = [row[3] for row in data]
gender = [row[5] for row in data]
homicide_gender_counts = {}
for i,gender in enumerate(gender):
    if gender not in homicide_gender_counts:
        homicide_gender_counts[gender] = 0
    if intents[i] == "Homicide":
        homicide_gender_counts[gender] += 1

homicide_gender_counts

{'F': 5373, 'M': 29803}

In [53]:
intents = [row[3] for row in data]
gender = [row[5] for row in data]
accidental_gender_counts = {}
for i,gender in enumerate(gender):
    if gender not in accidental_gender_counts:
        accidental_gender_counts[gender] = 0
    if intents[i] == "Accidental":
        accidental_gender_counts[gender] += 1

accidental_gender_counts

{'F': 218, 'M': 1421}

In [54]:
education_counts = {}
education = [row[10] for row in data]
for score in education:
    if score not in education_counts:
        education_counts[score] = 1
    else:
        education_counts[score] += 1
education_counts

{'1': 21823, '2': 42927, '3': 21680, '4': 12946, '5': 1369, 'NA': 53}

In [55]:
location_counts = {}
location = [row[9] for row in data]
for place in location:
    if place not in location_counts:
        location_counts[place] = 1
    else:
        location_counts[place] += 1
location_counts

{'Farm': 470,
 'Home': 60486,
 'Industrial/construction': 248,
 'NA': 1384,
 'Other specified': 13751,
 'Other unspecified': 8867,
 'Residential institution': 203,
 'School/instiution': 671,
 'Sports': 128,
 'Street': 11151,
 'Trade/service area': 3439}